#  #data types
    string='',"",''''''
    int=
    boolean=True r False
    float=1.1
    complex=1+j7
    Advanced datatypes
    List[]
    tuples()
    Dict.{Keys:Values}
    set{}

# data types

In [2]:
num1="5.55"
print(type(num1))

<class 'str'>

In [2]:
var1=5.55
print(type(number))

NameError: name 'number' is not defined

In [3]:
number=1234
print(type(number))

<class 'int'>

In [4]:
# b=1+0j
print(type(b))

NameError: name 'b' is not defined

In [ ]:
# num2=true
print(type(num2))

# TYPE CASTING
# builtin data types int complex float str bool
# list tuple dict set

In [6]:
a=10
print("a value is:",a)
print(type(a))
print("---------")
d=complex(a)
print(d)
print(type(d))

a value is: 10
<class 'int'>
---------
(10+0j)
<class 'complex'>

In [7]:
a=10
print("a value is:",a)
print(type(a))
print("---------")
d=float(a)
print(d)
print(type(d))

a value is: 10
<class 'int'>
---------
10.0
<class 'float'>

In [8]:
a=10
print("a value is:",a)
print(type(a))
print("---------")
d=bool(a)
print(d)
print(type(d))

a value is: 10
<class 'int'>
---------
True
<class 'bool'>

In [ ]:
a=10
print("a value is:",a)
print(type(a))
print("---------")
d=complex(a)
print(d)
print(type(d))

In [9]:
a=10+7j
print("a value is:",a)
print(type(a))
print("---------")
d=int(a)
print(d)
print(type(d))

a value is: (10+7j)
<class 'complex'>
---------

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [10]:
a="string"
print("a value is:",a)
print(type(a))
print("---------")
d=bool(a)
print(d)
print(type(d))

a value is: string
<class 'str'>
---------
True
<class 'bool'>

In [11]:
a=1.111
print("a value is:",a)
print(type(a))
print("---------")
d=complex(a)
print(d)
print(type(d))

a value is: 1.111
<class 'float'>
---------
(1.111+0j)
<class 'complex'>

In [12]:
num=10
print("before converting")
print(type(num))
print("----------")
string=str(num)
print("After converting")
print(string)
print(type(string))

before converting
<class 'int'>
----------
After converting
10
<class 'str'>

In [13]:
a=10+7j
print("a value is:",a)
print(type(a))
print("---------")
d=float(a)
print(d)
print(type(d))

a value is: (10+7j)
<class 'complex'>
---------

TypeError: float() argument must be a string or a real number, not 'complex'

In [14]:
a=10+1j
print("a value is:",a)
print(type(a))
print("---------")
d=str(a)
print(d)
print(type(d))

a value is: (10+1j)
<class 'complex'>
---------
(10+1j)
<class 'str'>

In [15]:
a=10+1j
print("a value is:",a)
print(type(a))
print("---------")
d=bool(a)
print(d)
print(type(d))

a value is: (10+1j)
<class 'complex'>
---------
True
<class 'bool'>

In [16]:
a=
print("a value is:",a)
print(type(a))
print("---------")
d=int(a)
print(d)
print(type(d))

NameError: name 'true' is not defined

# operators

In [ ]:
Types of operators

1.Arithmatic
2.Comparision
3.Assignment
4.Logical
5.Bitwise bin
6.Membership[ in,Not]
7.Identity [is,not]

In [ ]:
Arithmatic

+
-
*
/
**
%
//

In [17]:
val1=10
val2=2

add=val1+val2
print("add=",add)
sub=val1-val2
print("sub=",sub)
mul=val1*val2
print("mul=",mul)
div=val1/val2
print("div=",div)
expo=val1**val2
print("expo=",expo)
mod=val1%val2
print("mod=",mod)
floordiv=val1//val2
print("floordiv=",floordiv)

add= 12
sub= 8
mul= 20
div= 5.0
expo= 100
mod= 0
floordiv= 5

In [19]:
num1=10
num2=2
print("num1:",num1)
num1 += num2
print("add:",num1)

num1: 10
add: 12

In [20]:
num1=10
num2=20

add=num1+num2
print("add:",add)

add: 30

# comparision operators

In [ ]:
==
!=
<
>
<=
>=

In [21]:
a=10
b=2

print(a> b)
print(a< b)
print(a>= b)
print(a<= b)
print(a!= b)
print(a== b)

True
False
True
False
True
False

# assignment

In [ ]:
==
+=
-=
*=
/=
//=
**
%=

In [22]:
a=10
b=2
c=a+b
print(c)

12

In [23]:
a=10
a+=2
print(a)

12

In [24]:
a=10
a -= 2
print(a)

8

In [25]:
a =20
a *= 10
print(a)

200

In [26]:
a=20
a **= 2
print(a)

400

In [28]:
a=100
a/= 2
print(a)

50.0

In [29]:
a=100
a%= 2
print(a)

0

In [30]:
a=100
a//= 2
print(a)

50

# Bitwise operators

In [31]:
bin(-30)

'-0b11110'

In [32]:
a=60
b=13
print("a:",a,':',bin(a))
c=a+b
print(c)
print(bin(c))

a: 60 : 0b111100
73
0b1001001

In [6]:
#membership
a=10
b=20
lists=[1,2,3,4,5]

if(a in lists):
    print("Line 1- a is available in the given list")
else:
    print("Line 1- a is not available in the given list")
    
if(a not in lists):
    print("Line 2- a is not available in the given list")
else:
    print("Line 2- a is  available in the given list")
    
c=b/a
print(c)
    
if(c in lists):
    print("Line 3- a is  available in the given list")
else:
    print("Line 3- a is not available in the given list") 
        
if(c not in lists):
    print("Line 4- a is not  available in the given list")
else:
    print("Line 4- a is available in the given list")

Line 1- a is not available in the given list
Line 2- a is not available in the given list
2.0
Line 3- a is  available in the given list
Line 4- a is available in the given list

# identity operators

In [7]:
a= 10
b =10
print('a=',a,':',id(a),'\n','b=',b,':',id(b))

if(a is b):
    print('L2- a and b have same identity')
else:
    print('L2- a and b donot have same identity')
if(id(a) == id(b)):
    print('L3- a and b have same identity')
else:
    print('L3- a and b donot have same identity')   
if(a is not b):
    print('L4- a and b donot have same identity')
else:
    print('L4- a and b  have same identity')

a= 10 : 140706231391304
 b= 10 : 140706231391304
L2- a and b have same identity
L3- a and b have same identity
L4- a and b  have same identity

# loical operators

In [ ]:
and
or
not

In [5]:
num1 =10

print(num1 >= 10 and  num1 <= 12 )

True

In [6]:
num2 = 10
print(num2 > 10 or num2<= 10)

True

In [7]:
#and operator

x=5
print(x >3 and x < 10)

True

In [9]:
#or operator
x=5
print(x >3 or x > 10)

True

In [10]:
#not oeprator

x=5
print(not(x >3 and x < 10))

False

In [11]:
x=5
print(not(x >3 or x < 10))

False

In [12]:
#bitwise operators

a=10
b=4

#print bitwise AND operators
print("a & b =",a & b)

#print bitwise OR operators
print("a | b =",a | b)

#print bitwise NOT operators
print("~a =",~a )

#print bitwise XOR operators
print("a ^ b =",a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

# Data Types

In [15]:
var1='Hello world'
#var2 ='python programming'
print(var1)
print(var1[0])

print("enter a updated string",var1[0:6]+'python')

print(var1[::])
print(var1[0:])
print(var1[:9])

Hello world
H
enter a updated string Hello python
Hello world
Hello world
Hello wor

# LIST

In [16]:
lis=['apple','bat','124',80,70.2]
thinylist=[123,'jack']
print(lis)
print(lis[0])
print(lis[-4])
print(lis+thinylist)

print(thinylist *2 )

['apple', 'bat', '124', 80, 70.2]
apple
bat
['apple', 'bat', '124', 80, 70.2, 123, 'jack']
[123, 'jack', 123, 'jack']

# TUPPLE

In [17]:
tup=['abcd',786.3,'john',80,70.2]
thinytuple=[123,'jack']
print(tup)
print(tup[0:2])
print(tup[-1])
print(tup[4])
print(tup+thinytuple)

print(thinytuple *2 )

['abcd', 786.3, 'john', 80, 70.2]
['abcd', 786.3]
70.2
70.2
['abcd', 786.3, 'john', 80, 70.2, 123, 'jack']
[123, 'jack', 123, 'jack']

# DIC

In [18]:
var1 ={'name':'abc','age':12,'school':xyz,'year':2022}

print(var1)

print("-----------")
print(var1.(keys))
print(var1.(values))

NameError: name 'xyz' is not defined

In [21]:
dic = {}

dic['one'] ="this is one"
dic[2] = "this is two"

print("--------------")
print(dic)
print("--------------")
print(dic['one'])
print("--------------")
print(dic[2])
print("--------------")
print(dic.keys())
print("--------------")
print(dic.values())
print("--------------")

SyntaxError: '(' was never closed (1076702947.py, line 7)

# IF ELSE

if
if else
if elif else

In [1]:
a =10
b=20

if(a>b):
      print("A is greater than B") 
print("If condition completed")

If condition completed

In [2]:
a=10
b=20

if(a>b):
    print("A is greater than B")
else:
    print("A is less than B")
print("if...else...condition completed")

A is less than B
if...else...condition completed

In [4]:
a=10
b=20
c=15

if(a>b):
     print("A is greater than B")
elif(b>c):
     print("b is greater than c")
elif(a<c):
     print("c is smaller than a")
elif(c>a):
    print("c is greater than a")
else:
    print("a is greater than c")
print("if...elif...else..condition completed")

b is greater than c
if...elif...else..condition completed

In [5]:
var=10

if(var>11):
    print("var number")
    print(var)
print("PYTHON")

PYTHON

In [6]:
num=11

if num>=11:
    print("NUMBER")
    print(num)
    
#fAlse
print("python")

NUMBER
11
python

In [7]:
a=20
b=30
if(a>b):
    print("a is greater")
else:
    print("a smaller than b")

a smaller than b

In [8]:

a=20
b=30
if(a>b):print("a is greater")
else:print("a smaller than b")

a smaller than b

In [9]:
num1=int(input("enter first no."))
num2=int(input("enter second no."))

add=num1 + num2
print("sum of two number=",add)

enter first no.10
enter second no.20
sum of two number= 30

In [17]:
num1=int(input("enter first no."))
num2=int(input("enter second no."))
choice=int(input("enter the number"))

if(choice==1):
    add=num1+num2
    print("sum of two number=",add)

elif(choice==2):
    sub=num1-num2
    print("sub of two number=",sub)

elif(choice==3):
    mul=num1*num2
    print("mul of two number=",mul)

elif(choice==4):
    expo=num1**num2
    print("expo of two number=",expo)

elif(choice==5):
    mod=num1%num2
    print("mod of two number=",mod)

elif(choice==6):
    div=num1/num2
    print("div of two number=",div)

elif(choice==7):
    flordiv=num1//num2
    print("flordiv of two number=",flordiv)

else:
    print("invalid input")

enter first no.weef

ValueError: invalid literal for int() with base 10: 'weef'

# Nested IF

In [ ]:
amount =int(input("enter the amount:"))

if amount <2000:
    if amount>=1000:
        print("a")
    else:
        print("b")
else:
    if amount <= 3500:
        print("c")
    else:
        print("d")

In [ ]:
num = int(input("enter the number"))

if num%2 == 0:
    if num%3 ==0:
        print("divisible by 3 and 2")
    else:
        print("not divisible by 2 and 3")

else:
    if num%4 ==0:
        print("divisible by 4")
    else:
        print("not divisible by 4")

In [ ]:

num = int(input("enter the number"))

if num%2 == 0:
    if num%3 ==0:
        print("divisible by 3 and 2")
    else:
        print("not divisible by 2 and 3")

else:
    if num%4 ==0:
        print("divisible by 4")
    else:
        print("not divisible by 4")

# break
#continue 
#pass

In [27]:
for letter in 'python':
    if letter =='t':
        break
    print('',letter)

 p
 y

In [28]:
var = 10
while var>0:
    print("current variable value:",var)
    
    var=var-1
    if var==1:
        break
        
print("Break condition")

current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
current variable value: 5
current variable value: 4
current variable value: 3
current variable value: 2
Break condition

In [29]:
#continue

for letter in 'python':
    if letter == 'y':
        continue
    print('',letter)

 p
 t
 h
 o
 n

In [30]:
var = 10
while var>0:
    print("current variable value:",var)
    
    var=var-1
    if var==9:
        continue
        
print("continue condition")

current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
current variable value: 5
current variable value: 4
current variable value: 3
current variable value: 2
current variable value: 1
continue condition

In [31]:
#pass

for letter in 'python':
    if letter == 'y':
        pass
    print('',letter)

 p
 y
 t
 h
 o
 n

In [32]:
var = 10
while var>0:
    print("current variable value:",var)
    
    var=var-1
    if var==1:
        pass
        
print("pass condition")

current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
current variable value: 5
current variable value: 4
current variable value: 3
current variable value: 2
current variable value: 1
pass condition

In [12]:
amount= int(input("enter the amount:"))
if(amount<1000):
    dis = amount*0.05
    print("discount",dis)
    print("net payable",amount-dis)
elif(amount>=1000 | amount<=5000): 
    dis = amount*0.10
    print("discount",dis)
    print("net payable",amount-dis)
elif(amount>=5000 | amount<=10000): 
    dis = amount*0.15
    print("discount",dis)
    print("net payable",amount-dis)
else:
    dis = amount*0.20
    print("discount",dis)
    print("net payable",amount-dis)

enter the amount:1000
discount 100.0
net payable 900.0

# STRING

In [13]:
 var1 ="hello world"
#var2 ='python programming'

print(var1[0])

print("enter a updated string",var1[:6] +' python')

h
enter a updated string hello  python

In [14]:
a = 'hello'
b='world'

print(a+b)

a+b helloworld

In [15]:
a=  'apple'
b=3
print(a*b)

appleappleapple

In [16]:
#string formatting operator

a = 'Zara'
b= 24
print("My name is and weight is kg",a,b)

My name is and weight is kg Zara 24

In [17]:
print("My name is %s and weight is %d kg"%(a,b))

My name is Zara and weight is 24 kg

In [ ]:
%s = string
%d=decimal
\t =tab[3times space]
\n =new line

In [18]:
strs= "hello pooja,welcome to educadd"
print(strs.capitalize())

Hello pooja,welcome to educadd

In [19]:
name="ehello welcome to educadd"
s=name.capitalize()#capital
print("s,variable==",s)
sub='e'
print(s.count(sub))

s,variable== Ehello welcome to educadd
4

In [20]:
name= "welcome to educadd"
sub = "t"
print(name.find(sub))

8

In [21]:
a="hello  world"
b="HELLO"
print("lower",b.islower())#false
print("upper",b.isupper())#true
print("--------------------")
print("lower",a.islower())#true
print("upper",a.isupper())#faalse

lower False
upper True
--------------------
lower True
upper False

In [22]:
a="3"
print(a.isnumeric())

True

In [23]:
a="124"
print(a.isdigit())

True

In [24]:
b="  "
print(b.isspace())

True

In [25]:
a="HELLO"
b="world"
print("len",len(a))

len 5
upper <built-in method upper of str object at 0x000002214EC8C1B0>

In [27]:
print("upper",b.upper())

upper WORLD

In [28]:
print("lower",a.lower())

lower hello

In [29]:
print("join",a.join(b))

SyntaxError: incomplete input (1918005993.py, line 1)

 1.Append
 2.count
 3.Index
 4.Extended
 5.Insert

In [2]:
fruits=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(fruits[3:5])
print(len(fruits))#7
print(type(fruits))#list

['orange', 'kiwi']
7
<class 'list'>

In [3]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
print(len(fruits))#7
print(type(fruits))#list

7
<class 'tuple'>

In [4]:
lis=['p','c','97','01']
lis2 = '03'
print(lis)#['p','c','97','01']
print(lis2)#'03'
del lis2 #03
del lis[0]#p
print(lis)
print(lis2)

['p', 'c', '97', '01']
03
['c', '97', '01']

NameError: name 'lis2' is not defined

In [6]:
print(['Python']*3)
print(len(['Python']*3))

['Python', 'Python', 'Python']
3

In [7]:
a=[1,110,2,3,4,4,55,5,8,100]
print(min(a))
print(max(a))

1
110

In [9]:
list1=['java','Python','c','c++',]
list1.append('r')
print(list1)

['java', 'Python', 'c', 'c++', 'r']

In [10]:
list1=[123,123,456,'abc','abc',456,123]
print("count for 123:",list1.count(123))
sub='abc'
print("count for 'abc':",list1.count(sub))

count for 123: 3
count for 'abc': 2

In [11]:
lista=['physics','chemistry','maths']
listb=('biology')
lista.extend(listb)
print(lista)

['physics', 'chemistry', 'maths', 'b', 'i', 'o', 'l', 'o', 'g', 'y']

In [12]:
list1=['java','python','c','c++',]
print(list1.index('c'))
print(list1.index('c')+1)

2
3

In [13]:
list1=['java','python','c','c++',]
list1.insert(2,'machine learning')
print(list1)

['java', 'python', 'machine learning', 'c', 'c++']

In [15]:
lista=['physics','chemistry','maths','bioloy']
lista.pop(0)
print(lista)

['chemistry', 'maths', 'bioloy']

In [16]:
list1=['java','python','c','c++',]
list1.insert(2,'machine learning')
print(list1)

['java', 'python', 'machine learning', 'c', 'c++']

In [17]:
lista=['physics','chemistry','maths','bioloy']
lista.remove('maths')
print(lista)

['physics', 'chemistry', 'bioloy']

In [18]:
lista=['physics','chemistry','maths','bioloy']
lista.reverse()
print(lista)

['bioloy', 'maths', 'chemistry', 'physics']

In [19]:
lista=['physics','chemistry','maths','bioloy']
lis = [1,2,11,10,4,8,7,9]
lis.sort()
print(lis)
lista.sort()
print(lista)

[1, 2, 4, 7, 8, 9, 10, 11]
['bioloy', 'chemistry', 'maths', 'physics']

In [20]:
a=[1,5,9,0,28,96,33]
print(a)
a.clear()
print(a)

[1, 5, 9, 0, 28, 96, 33]
[]

In [21]:
a=["hello world","hell","ABC"]
b=a.copy()
print("b=",b)
print("a=",a)

b= ['hello world', 'hell', 'ABC']
a= ['hello world', 'hell', 'ABC']

In [ ]:
a=["hello world","hell",""]

In [1]:
a= {'Name':'Pooja','age':12,'school':'bapuji'}
print(a.get('age'))

12

In [2]:
a={'Name':'Pooja','age':12,'school':'bapuji'}
a['age']=14 #update
a['class']=5 #Insert
a['phone_no']=123346389

print("a===",a)


print("Phone_no===",a.get('phone_no'))

print("keys ====",a.keys())
print("values====",a.values())

a=== {'Name': 'Pooja', 'age': 14, 'school': 'bapuji', 'class': 5, 'phone_no': 123346389}
Phone_no=== 123346389
keys ==== dict_keys(['Name', 'age', 'school', 'class', 'phone_no'])
values==== dict_values(['Pooja', 14, 'bapuji', 5, 123346389])

In [3]:
name ={"name":"abc","class":"4"}
name2 ={"age":"23"}
name.update(name2)
print(name)

{'name': 'abc', 'class': '4', 'age': '23'}

In [4]:
first ="Hello World"
print("First variable===",first)
second=first.replace("world","Universe")
print("Replace===",second)

First variable=== Hello World
Replace=== Hello World

In [7]:
s="Hello World World World"
S=s.replace("World","Universe",2)
print(S)

Hello Universe Universe World

In [8]:
strs="This is String example....Wow!! this is really string"
#print(strs .replace("is","was",1))
print(strs.replace(" is "," was ",4))

This was String example....Wow!! this was really string

In [10]:
first="Bugs"

last="Bunny"

#define our sequence
seq=(first,last)
print(seq)

('Bugs', 'Bunny')

In [9]:
#can a string be replaced twice?

a='&#'

to_replace =['&','#']
print(to_replace)

for char in to_replace:
    A =a.replace(char,"\\" +char)
    
print(A)

['&', '#']
&\#

In [12]:
#join into new string

name =" ".join(seq)
print(name)

Bugs Bunny

In [13]:
words=["howw","are","u","doing","?"]
sentence= ' '.join(words)
print(sentence)

howw are u doing ?

In [ ]:
a  ="hello world"
b ="Python"

c=(a,b)
print(c)

name =" ".join(c)
print()

# RANDOM

uniform
random
randrange
randint

In [1]:
#generate random numbers in python

import random
print(random.random())

0.2610642136591964

In [2]:
print(random.randrange(0,11))

7

In [3]:
print(random.uniform(0,10))

4.270446150791503

In [4]:
#make a program that creates a random number and stores it into x

x=random.random()
print(x)

0.5058537977850275

In [9]:
#create a program that generates 100 random numbers and find the frequency of each number

import random
randomlist=[]#emptylist
for i in range(0,100):
    n=random.randint(1,100)
    randomlist.append(n)
print(randomlist)

[51, 32, 33, 43, 84, 22, 23, 86, 90, 72, 93, 70, 69, 71, 10, 52, 77, 72, 56, 2, 47, 9, 44, 15, 20, 3, 31, 27, 41, 29, 58, 81, 67, 51, 6, 71, 45, 27, 47, 73, 39, 80, 76, 71, 100, 11, 63, 83, 13, 74, 51, 5, 84, 95, 6, 50, 19, 66, 14, 19, 88, 35, 15, 31, 21, 74, 86, 83, 89, 52, 89, 34, 82, 5, 11, 79, 70, 86, 68, 96, 32, 76, 36, 75, 11, 1, 98, 27, 30, 9, 37, 66, 59, 59, 80, 32, 13, 57, 9, 43]

In [5]:
# 1 to 100

import random
x =random.uniform(1,100)
print(x)

print(round(x))

98.96184142071759
99

In [7]:
#make a program that prints 3 random numbers

import random
randomlist=[]#emptylist
for i in range(0,3):
    n=random.randint(1,100)
    randomlist.append(n)
print(randomlist)

[59, 65, 39]

In [10]:
print("randrange",random.randrange(1,5))
print("randint",random.randint(1,5))

randrange 1
randint 1

# DATE TIME

In [ ]:
#TIME
1.time.time
2.time.localtime
3.time.asctime
4.time.clock
5.time.sleep

In [11]:
import time
time.time()

1700133980.2252848

In [12]:
print(365-320)

245

In [13]:
time.localtime()#0 mon,#1 tues

time.struct_time(tm_year=2023, tm_mon=11, tm_mday=16, tm_hour=16, tm_min=57, tm_sec=4, tm_wday=3, tm_yday=320, tm_isdst=0)

In [14]:
time.asctime(time.localtime(time.time()))

'Thu Nov 16 16:57:46 2023'

In [15]:
for a in "python":
    print(a)
    time.sleep(3)

p
y
t
h
o
n

In [ ]:
pip install dateparser

In [2]:
import dateparser
print(dateparser.parse('yesterday'))
print(dateparser.parse('morgen'))

2023-11-17 13:00:22.563717
2023-11-19 13:00:22.658259

In [9]:
pip install calendar

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement calendar (from versions: none)
ERROR: No matching distribution found for calendar

In [10]:
#calender
1.Month
2.calendar(complete year)

SyntaxError: invalid decimal literal (1707179230.py, line 2)

In [14]:
import calendar

In [15]:
cal=calendar.month(2023,11)
print(cal)

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [16]:
calendar.monthrange(2023,11)#start day of month

(2, 30)

In [17]:
for name in calendar.month_name:
    print(name)

January
February
March
April
May
June
July
August
September
October
November
December

In [20]:
cal=calendar.calendar(2023)
print(cal)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [21]:
print(calendar.month_name)

<calendar._localized_month object at 0x0000023CE424FE90>

In [22]:
print(calendar.weekheader(2))

Mo Tu We Th Fr Sa Su

In [ ]:
#time and CALL
1.strftime(str)
2.strptime(tuple)
3.mktime

In [24]:
import time

In [25]:
t=(2023,10,2,16,45,34,1,23,0)
T=time.mktime(t)
print(time.strftime("%b %d %Y %H:%M:%S",time.localtime(T)))

Oct 02 2023 16:45:34

In [26]:
stru=time.strptime("30 12 2021","%d %m %Y")
print(stru)

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=364, tm_isdst=-1)

In [27]:
calendar.weekday(2023,11,3)

4

In [28]:
calendar.isleap(2023)

False

In [29]:
calendar.isleap(2020)

True

In [30]:
calendar.leapdays(2000,2023)

6

In [31]:
import datetime

In [32]:
pip install datetime

Defaulting to user installation because normal site-packages is not writeable
Collecting datetime
  Obtaining dependency information for datetime from https://files.pythonhosted.org/packages/d3/63/dced85cf2970b5d363e501a10aa051e71caea3ad10a60b7a57794f43a4b8/DateTime-5.3-py3-none-any.whl.metadata
  Downloading DateTime-5.3-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: zope.interface in c:\programdata\anaconda3\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from datetime) (2023.3.post1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from zope.interface->datetime) (68.0.0)
Downloading DateTime-5.3-py3-none-any.whl (52 kB)
   ---------------------------------------- 0.0/52.2 kB ? eta -:--:--
   ------- -------------------------------- 10.2/52.2 kB ? eta -:--:--
   ---------------------------------------- 52.2/52.2 kB 537.5 kB/s eta 0:00:00
Installing collected packages: datetime
Successfully installed datetime-5.3
Note: you may need to restart the kernel to use updated packages.

In [33]:
print(datetime.timedelta(days=10))

10 days, 0:00:00

In [35]:
from datetime import datetime
a =datetime(2016,10,6,0,0,0)
b =datetime(2016,10,1,23,59,59)
print(a-b)
print((a-b).days)
print((a-b).total_seconds())

4 days, 0:00:01
4
345601.0

In [36]:

a=[1,2,7,8,11,221,11]
sum=sum(a)
print(sum)

261

In [47]:
lent = len(a)
print(lent)

TypeError: 'int' object is not callable

In [44]:
maxx =max(a)
print(maxx)

221

In [45]:
minn =min(a)
print(minn)

1

TypeError: 'int' object is not callable

# FUNCTIONS

In [ ]:
def functionname(parameter):
    "Doc string"
    "function_suite"
    return

In [49]:
def name():
    print("Educadd")
    
name()

Educadd

In [50]:
def name():
    
    fullname = "Abc"+"BCD"
    
    return fullname

name()

'AbcBCD'

In [52]:
def name(fname,lname):
     
        fullname=fname+lname
        print("fullname",fullname)
        
name("abc","bcd")

fullname abcbcd

In [7]:
def name(fname,lname):
    
    fullname = fname+lname
    return"fullname",fullname
        
name("ABC","DEF")

('fullname', 'ABCDEF')

In [8]:
a =(1,2,3)
sum=0

for sum in a:
    print(sum)

1
2
3

In [9]:
def name_of_the_country(country="USA"):
     return country
    
name_of_the_country()

'USA'

In [10]:
name_of_the_country("AUS")

'AUS'

In [11]:
def sum_of_two_numbers(small_number,large_number):
    
    addition =large_number - small_number
    
    return addition
sum_of_two_numbers(20,30)

10

In [13]:
sum_of_two_numbers(49,30)

-19

In [14]:
def sum_of_two_numbers_key_word(small_number=8,large_number=20):
    
    sumoftwovalues =large_number - small_number
    
    return sumoftwovalues

sum_of_two_numbers_key_word(large_number=20,small_number=30)

-10

In [15]:
def add(*adds):
    
    first_variable = tuple('1')
    
    second_variable = adds + first_variable
    
    return second_variable

add(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8, '1')

In [16]:
def add(*adds):
    
    sum=0
    for i in adds:
        sum += i
    return sum

add(1,2,3,4,5,6,7,8,9,4,33,44,55,66)

247

In [17]:
a=(1,2,3,4,5,6,7,8)

sum=0

for i in a:
    sum=sum+i
    
print(sum)

36

In [18]:
add(1,2,3,22,33,44,55)

160

In [19]:
def student_details(**kwargs):
    
    return kwargs
f_var=student_details(f_name="ABC",l_name="xyz",age=3,phone_no="75432567890")

print(f_var)

{'f_name': 'ABC', 'l_name': 'xyz', 'age': 3, 'phone_no': '75432567890'}

In [21]:
def add(P,Q):
    return P+Q
def sub(P,Q):
    return P-Q
def div(P,Q):
    return P/Q
def mul(P,Q):
    return P*Q

30

In [5]:
f_value=float(input("enter the first value"))
s_value=float(input("enter the second value"))
choice=float(input("enter the choice"))

if(choice==1):
    add=f_value+s_value
print(add)

enter the first value10
enter the second value10
enter the choice1
20.0

In [7]:
def add(*adds):
    
    sum=0
    for i in adds:
        sum += i
    return sum
add(p,q)
def sub(*subs):
    
    sum=0
    for i in adds:
        sum -= i
    return sum

sub(p,q)

NameError: name 'p' is not defined

In [18]:
p=float(input("enter the first value"))
q=float(input("enter the second value"))
choice=float(input("enter the choice"))

if choice==1:
    def add(*adds):
        sum=0
        sum=sum+p+q
    
add(p,q)
 
print(add)

enter the first value10
enter the second value20
enter the choice1
<function add at 0x000001A5EB379800>

In [4]:
python program to add two numbers



def add_num(P,Q):
    sum P+Q
    return sum;
num1=30
num2=50
print("the sum is",add_num(num1,num2))

SyntaxError: invalid syntax (1591648131.py, line 1)

In [5]:
P=float()

In [6]:
def add_num(P,Q):
    sum P+Q
    return sum;
num1=30
num2=50
print("the sum is",add_num(num1,num2))

SyntaxError: invalid syntax (2155021648.py, line 2)

In [8]:
def maximum(a,b):
    
    if a>=b:
        return a
    else:
        return b

a=80
b=59
print(max(a,b))

80

In [23]:
def factorial(n):
    if(n==0):
        return 0
    elif(n==1):
        return 1
    else:
        return n * factorial(n-1)
        
    
num=5
print("factorial of",num ,"is",factorial(num))

factorial of 5 is 120

In [24]:
def simple_interest(p,t,r):
    print('principal is',p)
    print('time period is',t)
    print('rate of interest is',r)
    
    SI = (p*t*r)/100
    
    print('The simple interest is',SI)
    return SI

simple_interest(1,2,3)

principal is 1
time period is 2
rate of interest is 3
The simple interest is 0.06

0.06

In [42]:
def area_circle(pi=3.142,r=10):
    

    area = pi*r*r
    return area

area_circle(r=4)

50.272

In [13]:
def prime_number(i):
   
    
    if(i % 2) ==  0:
    return "prime"
else:
    return "Odd"

n=int(input("enetr the value for a=\n"))
prime(n)

IndentationError: expected an indented block after 'if' statement on line 4 (4123913295.py, line 5)

In [3]:
def prime(n):
    for i in range(2,n):
        if(n%i) == 0:
        return False
    return true

IndentationError: expected an indented block after 'if' statement on line 3 (234161381.py, line 4)

In [15]:
 def prime_number(i):
   
    
    if(i % 2) ==  0:
        return "prime"
    else:
        return "Odd"

n=int(input("enetr the value for a=\n"))
prime(n)

enetr the value for a=
2

NameError: name 'prime' is not defined

In [18]:
def square(n):
    
    sum = 0
    for i in range(1,n+1):
    
       sum = i * i
    
    return sum

n=int(input("enter the value:"))
square(n)

enter the value:2

4

In [25]:
def square(n):
    
    sum = 0
    for i in range(1,n+1):
        print("i=",i)
        print("sum=",sum)
        
    
        sum = sum+(i * i)
    
    return sum

n=int(input("enter the value:"))
square(n)

enter the value:5
i= 1
sum= 0
i= 2
sum= 1
i= 3
sum= 5
i= 4
sum= 14
i= 5
sum= 30

55

In [26]:
def fab(n):
    if(n<=0):
        return "Incorrect INp"
    elif(n==1):
        return 0
    elif(n==2):
        return 1
    else:
        return fab(n-1)+fab(n-2)

    
fibonacci = int(input("please provide the number:"))

fab(fibonacci)

please provide the number:3

1

In [28]:
#sum of array
def array_sum(n,avg):
    
    sum = 0
    for i in n:
        sum += i
        
    average = sum/avg
    print("avg=",average)
    return "Total =",sum

arr=[12,3,4,15]
array_length = len(arr)
array_sum(arr,array_length)

avg= 8.5

('Total =', 34)

In [30]:
def largest(arr,n):

    maxx = arr[0]
    
    for i in range(1,n):
        if arr[i] > maxx:
            maxx = arr[i]
    return(maxx)

arr = [98,246,322,10]
n=len(arr)
Ans=largest(arr,n)
print("Largest in given array ", Ans)

Largest in given array  322

In [33]:
def min(arr,n):

    minn = arr[0]
    
    for i in range(1,n):
        if arr[i] < minn:
            minn = arr[i]
    return(minn)

arr = [98,246,322,10]
n=len(arr)
Ans=min(arr,n)
print("min in given array ", Ans)

min in given array  10

In [36]:
def swap(a,b):
    
    temp = a
    a = b
    b = temp
    
    return "a=",a,"b=",b

swap(a=10,b=11)

('a=', 11, 'b=', 10)

In [47]:
def swapList(newList):
    size = len(newList)
    

    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
        
    return newList
    
newList = [12,35,9,56,24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [3]:
#python program to split array and move first
#part to end

def splitArr(arr,n,k):
    for i in range (0,k):
        x = arr[0]
        for j in range(0,n-1):
            arr[j] = arr[j + 1]
        arr[n-1] = x
        
        
#main
arr = [12,10,5,6,65,45]
n = len(arr)
position = 2
splitArr(arr,n,position)

for i in range(0,n):
    print(arr[i],end=' ')

5 6 65 45 12 10

In [5]:
#How to find length

#Python len()
li = [10,20,30]
n = len(li)
print("The length of list is: ",n)

The length of list is:  3

In [7]:
test_list = [1, 2, 3, 5, 8]

print("The list is: " + str(test_list))
counter = 0
for i in test_list:
#incrementing counter
     counter += 1
print("Length of list using native methos is :" + str(counter))

The list is: [1, 2, 3, 5, 8]
Length of list using native methos is :5

In [ ]:
# Different ways to clear a list in python

Different ways to Remove from a list in python
there are many ways of clearing the list through methods of different constructs offered by python
language.
Using clear()
Reinitializing the list
Using " *= 0"
using pop()method 
using slicing

In [9]:
new = [6, 4, 5, 6]
print('GEEK before clear:', new)

#clearing list
new.clear()
print('GEEK after clear:',new)

GEEK before clear: [6, 4, 5, 6]
GEEK after clear: []

In [11]:
list1 = [1, 2, 3]

print("List1 before deleting is:" + str(list1))

#deleting list using reinitiallization
list1 = []

#Printing list2 after reinitialization
print("List1 after clearing using reinitializatuion : "+ str(list1))

List1 before deleting is:[1, 2, 3]
List1 after clearing using reinitializatuion : []

In [12]:
a = [1,2,3,4,5]
del a[:]
print(a)

[]

In [13]:
list1  = [1,2,3]
list2 = [5,6,7]

#Printing list1 before deleting
print("List1 before deleting is :" + str(list1))

#deleting list1 using del
del list1[:]
print("List1 after clearing using del is :" + str(list1))

#Printing list2 before deleting
print("List2 before deleting is :" + str(list2))

#deleting list2 using del
del list2[:]
print("List2 after clearing using del is :" + str(list2))

List1 before deleting is :[1, 2, 3]
List1 after clearing using del is :[]
List2 before deleting is :[5, 6, 7]
List2 after clearing using del is :[]

In [15]:
#function which return reverse of a strong

def isPalindrome(s):
    return s == s[::-1]

#Driver code
s = "malayalamm"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

No

In [28]:
# function to reverse words of string
import re
def rev_sentence(sentence):
    
#find all the words in sentence
     words = re.findall('\wt',sentence)
    
    #backward iterate over list of words and join using space
     reverse_sentence = ' '.join(words[i] for i in range(len(words)-1,-1-1))
    
    #finally return the joined string
     return reverse_sentence

if __name__ == "___main__":
    input = 'new quiz practice code'
    print(rev_sentence(input))

In [34]:
# function to reverse words of string
import re
def rev_sentence(sentence):
    
#find all the words in sentence
     words = re.findall('\w+',sentence)
    
    #backward iterate over list of words and join using space
     reverse_sentence = ' '.join(words[i] for i in range(len(words),-1,-1,-1))
    
    #finally return the joined string
     return reverse_sentence

if __name__ == "___main__":
    input = 'new quiz practice code'
    print(rev_sentence(input))

In [38]:
import re

def rev_sen(sent):
    
    word = re.findall('\w+',sent)
    rev_sentence = ' '.join(word[i] for i in range(len(word)-1,-1,-1))
    
    return rev_sentence


if __name__ == "__main__":
    
    value = 'new quiz practice code'
    print(rev_sen(value))

code practice quiz new

In [5]:
x = 10
y = 5
 

 
#x now becomes 10
x = x + y
 

y = x - y
 

x = x - y
print("After Swapping: x =", x, " y =", y)

After Swapping: x = 5  y = 10

In [6]:
#LAMBDA EXPRESSIONS

firstname = lambda lastname,fsname: fsname+ " "+lastname

print(firstname("ABC" ,"DEF"))

DEF ABC

In [9]:
firstname = lambda lastname: lastname+ " "+"Thinkworks"
print(firstname("Educadd"))

Educadd Thinkworks

In [10]:
var = lambda a,b : a+b

print(var(5,2))

7

In [11]:
var = lambda a : a+20

print('With argument value 5 : ',var(5))
print('With argument value 10 : ',var(10))

With argument value 5 :  25
With argument value 10 :  30

In [12]:
maxx = lambda x,y: x if(x>y) else y

print(maxx(8,1))

8

In [13]:
minn = lambda x,y: x if(x<y) else y

print(minn(8,1))

1

In [16]:
add = lambda x,y: x + y

print(add(2,3))

5

In [17]:
sub = lambda x,y: x - y

print(sub(10,3))

7

In [18]:
mul = lambda x,y: x * y

print(mul(2,3))

6

In [19]:
div = lambda x,y: x / y

print(div(30,3))

10.0

In [24]:
avg = lambda x,y: (x + y)/2

print(avg(10,20))

15.0

In [22]:
# Alambda function with two arguments

value = lambda a:a+20
print(value(20))

40

In [23]:
lambda_add = lambda a,b : a+b

print('The value of 5+3 = ',lambda_add(5,3))
print('The value of 7+2 = ',lambda_add(7,2))

The value of 5+3 =  8
The value of 7+2 =  9

In [4]:
original_list = [5, 17, 32, 43, 12, 62, 237, 133, 78, 21]

filtered_list = list(filter(lambda x: (x%2!=0) , original_list))

print('The odd numbers are :' ,filtered_list)

The odd numbers are : [5, 17, 43, 237, 133, 21]

In [1]:
original_list = [5, 17, 32, 43, 12, 62, 237, 133, 78, 21]

filtered_list = list(filter(lambda x: (x%2==0) , original_list)

print('The odd numbers are: ,filtered_list)

SyntaxError: unterminated string literal (detected at line 5) (11401655.py, line 5)

# MAP FUNCTION

In [11]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#double each number in the original list
mapped_list = list(map(lambda x: x*2,original_list))
print('New List : ',mapped_list)

New List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
original_list = ['analytics','vidhya','king','south','east']
#capitalize first letter of each word in the original list
mapped_list = list(map(lambda x: x[0].upper()+x[1:],original_list))
print('New List : ',mapped_list)

New List :  ['Analytics', 'Vidhya', 'King', 'South', 'East']


# REdUce function

# the reduce()function in python takes in a functiOn and a list as aargument.The function is called with a lambda function and a list and a new reduced results is returned.This
performs a repetitive operation over the pairs of the list

In [13]:
from functools import reduce
original_list = [1,2,3,4,5,6,7,8,9]
sum_of_list = reduce((lambda x,y : x + y), original_list)
print('sum of numbers in the original list is : ' ,sum_of_list)

sum of numbers in the original list is :  45

In [14]:
original_list = [110, 53, 3, 424, 345, 16, 34,256]
largest_number = reduce((lambda x, y : x if (x > y)else y ), original_list)
print('Largest number in the  original list is : ',largest_number)

Largest number in the  original list is :  424

In [17]:
name = str(input("enter the string=")).lower()

searchlen = str(input("enter the char to search=")).lower()

for i in range(0,len(name)):
    if(name[i]==searchlen):
        print("char found at index",i)
        break
    else:
            print("not found")

enter the string=APPLw
enter the char to search=w
not found
not found
not found
not found
char found at index 4

In [25]:
# DATA STRUCTURE 
#1.LINEAR SEARCH
    
    
    def linearsearch(arr,key):
        
    arr == int(input("enter the array"))
    
    
    for i in range(0,len(arr)):
        if(arr[i]==key):
            return i
        return-1

IndentationError: unexpected indent (2957567058.py, line 5)

In [1]:
list[]
array_size = int(input("size of the array\n")):
    
    for i in range(0,array_size):
        ele = int(input("sort the data"))
        list.append(ele)
        print(lst)
        key_element = int(input("enter the element tto search\n"))
        lenth=len(lst)
        result=linearsearch(list,key_element)
        
      
        
        if(result== -1):
        print("NF")
        else:
            print("Found")

SyntaxError: invalid syntax (2317982405.py, line 1)