# SYNTAX

In [2]:
a=10

if(a>11):
    print(a)
else:
    print("a is less than 11")

a ia less than 11

In [3]:
a =10

if(a/0):
    print("true")

ZeroDivisionError: division by zero

In [4]:
#syntax error

a=10
if(a>10)
    print(a)

SyntaxError: expected ':' (1007487317.py, line 4)

In [5]:
#type error

a= "apple"
b=5
c=a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [6]:
#NAme error

a=10
print(A)

NameError: name 'A' is not defined

In [7]:
#index error

a="apple"
print(a[5])

IndexError: string index out of range

In [8]:
#index error

b=[1,2,3,4,5,6]
print(b[6])

IndexError: list index out of range

In [9]:
b=(1,2,3,4,5,6)
print(b[6])

IndexError: tuple index out of range

In [10]:
#keyError

a={"name":"Sindhu" , "age":25}
print(a["company"])

KeyError: 'company'

In [11]:
a=10

div = a/0
print(div)

ZeroDivisionError: division by zero

In [13]:
va =[1,2,3]

print(va[1])
print(va[4])

2

IndexError: list index out of range

In [14]:
var1 = [1,3,5]
try:
    print(var1[1])
    print(var1[4])
except IndexError:
    print("Indexerror occcures")

3
Indexerror occcures

In [15]:
a=10
b="apple"
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
try:
    a=10
    b="apple"
    c=a+b
    print(c)
except TypeError:
    print("type error occured")

type error occured

In [1]:
#Python code after removing the syntax error

string  = "Python exceptions"

In [2]:
try:
    def num(num):
        rec=1/num
    num(0)
except ZeroDivisionError  as zd:
    print(zd)

division by zero

In [3]:
a = ["Python" , "Exceptions" , "try and except"]
for i in range( 4):
    print("THe index and element from the array is",i,a[i])

THe index and element from the array is 0 Python
THe index and element from the array is 1 Exceptions
THe index and element from the array is 2 try and except

IndexError: list index out of range

In [5]:
#python code to catch an exception and handle it using try and except code  block

a=["Python" , "Exceptions" , "try and except"]
try:
    #looping through the elements of the array a,choosing a range that goes  the length of the ARRAY
    for i in range(4):
        print("The index and element from the array is",i,a[i])

#if an error occurs in the try block,,then exccept block will be executed by the python intrepreter
except:
    print("Index out of range")

The index and element from the array is 0 Python
The index and element from the array is 1 Exceptions
The index and element from the array is 2 try and except
Index out of range

In [6]:
#python code to catch an exception and handle it using try and except code  block

a=["Python" , "Exceptions" , "try and except"]
try:
    #looping through the elements of the array a,choosing a range that goes  the length of the ARRAY
    for i in range(4):
        print("The index and element from the array is",i,a[i])

#if an error occurs in the try block,,then exccept block will be executed by the python intrepreter
except IndexError as  ie:
    print(ie)

The index and element from the array is 0 Python
The index and element from the array is 1 Exceptions
The index and element from the array is 2 try and except
list index out of range

In [8]:
#pyhton program to show how to use else clause with try and except clauses

#defining a function which returns reciprocal of a number
def reciprocal(num1):
    try:
        reci = 1/num1
    except ZeroDivisionError:
        print("we cannot divide by zero")
    else:
        print(reci)
#calling the function and passing values
reciprocal(4)
reciprocal(0)

0.25
we cannot divide by zero

In [10]:
#python code to show the use of finally clause

#raising an exception in try block
try:
    div=4//0
    print(div)
#this block will handle the exception raised
except ZeroDivisionError:
    print("Attending to divide by zero")
#this will always be executed no matter exception is raised or not
finally:
    print('this is code of finally clause ')

Attending to divide by zero
this is code of finally clause

In [11]:
a=10*%10
print(a)

SyntaxError: invalid syntax (3047268957.py, line 1)

In [12]:
try:
    a=10%10
except SyntaxError as se:
    print(se)
else:
    print(a)
finally:
    print("completed")

0
completed