In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9393",
    database="PYTHON",
)#create database databasename

mypython = mydb.cursor()
print("connection established")

In [ ]:
table = "CREATE table dummy(Name varchar(100))" 
mypython.execute(table)
print("execute")

In [ ]:
show_table = "show tables"
mypython.execute(show_table)

for x in mypython:
    print(x)

In [ ]:
sql = "INSERT INTO dummy(Name) VALUES(%s)"
val = ['Thinkworks']
mypython.execute(sql,val)

In [ ]:
mydb.commit();

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9393",
    database="PYTHON",)

In [ ]:
mypython = mydb.cursor()

In [ ]:
sql = "INSERT INTO STUDENT2(Name,Address) VALUES(%s,%s)"

val = [
('peter','harashit 4'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),
('amY ','apple st 653'),



]
mypython.executemany(sql,val)

In [ ]:


print(mypython.rowcount,"was inserted.")

mypython.close()