In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9393",
    database="PYTHON",
)#create database databasename

mypython = mydb.cursor()
print("connection established")

In [ ]:
table = "CREATE table employee(Name varchar(100), Address varchar(255))" 
mypython.execute(table)
print("Employee table created")

In [ ]:
sql_query = "Insert into employee(Name,Address) VALUES(%s,%s)"

In [ ]:
mul_values =[
    ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

In [ ]:
mypython.executemany(sql_query,mul_values)

In [ ]:
print(mypython.rowcount,"Was inserted")

In [ ]:
mypython.execute("select*from employee")

In [ ]:
myresult = mypython.fetchall()

In [ ]:
for x in myresult:
    print("fetch->",x)

In [ ]:
print(mypython.rowcount,"Was inserted")

In [ ]:
mypython.close()